<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPA Predictor</title>
    <link rel="stylesheet" href="http://localhost:3000/templates/main.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="http://localhost:3000/templates/image/img1.png" alt="Logo" class="logo">
            <span class="brand">GPASCORE</span>
        </div>
        <nav>
            <a href="http://127.0.0.1:5000/register" class="register-btn">Register</a>
            <a href="http://127.0.0.1:5000/login" class="login-btn">Login</a>
        </nav>
    </header>
    <div class="main">
        <div class="content">
            <h1>GPA <Br>PREDICTOR</Br></h1>
            <p>This tool empowers you to estimate your future<br> GPA by considering important features. Simply <br> enter your information and get a personalized <br>prediction to help you strategize and achieve <br> your academic goals.</p>
            <a href="http://127.0.0.1:5000/login" ><button>Let's Check</button></a>
        </div> 
        <div class="image-container">
            <img src="http://localhost:3000/templates/image/img2.jpg" alt="Graduate" class="graduate-img" height="90%">
        </div>
</div>
    <div class="footer">

    </div>
    <script>
                // Ensure the fade-in effect when the page loads or reloads
     window.addEventListener('load', () => {
     document.body.classList.add('fade-in');
 });
    </script>
</body>
</html>
